@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
}

:root {
    font-size: 62.5%;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #000000;
}

#app {
    width: 1120px;
    min-width: auto;
    margin-inline: 25px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    gap: 8.5rem;
}

div#table {
    border: 1px solid #4A808C;
    border-radius: 1.2rem;
    overflow: hidden;
}
/* Configurações do HEADER */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    padding-top: 10px;
}

input[type=search] {
    background-color: #06181C;
    min-width: 300px;
    height: 4.8rem;
    
    margin-right: .8rem;
    border-radius: .5rem;
    border: none;
}

::placeholder {
    padding-left: 1.6rem;
    font-weight: 400;
}

header button {
    width: 150px;
    height: 4.8rem;
    border-radius: .5rem;
    border: none;

    color: white;
    background-color: #065E7C;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8rem;
    cursor: pointer;
}
/* Configurações da TABELA */
table {
    width: 100%;
    color: white;
    border-collapse: collapse;
    font-weight: bold;
}

thead {
    display: block;
    background-color: #092D38;
    height: 64px;
    padding-top: 20px;
    padding-right: 16px;
}

table thead, table tbody {
    display: block;
}

table tbody {
    height: auto;
    max-height: 400px;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #020202 #ffffff;
}

table thead th, table tbody td {
    display: flex;
    align-items: center;
    text-align: left;
    padding-left: 4rem;
}

thead tr, tbody tr {
    display: grid;
    grid-template-columns: 50rem 22rem 22rem 2fr;
}

tbody img {
    width: 5.6rem;
    height: 5.6rem;
    border-radius: 50%;
}

tbody tr:nth-child(even) {
    background-color: #4a808c36;
    border-top: 1px solid #4A808C;
    border-bottom: 1px solid #4A808C;
}

tbody tr td {
    height: 10.4rem;
}

table tbody::-webkit-scrollbar-track {
    background-color: transparent;
}

.user a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    padding-left: 1.6rem;

    color: white;

    & span {
        font-weight: 300;
    }
}

.btnremove {
    border: none;
    background: transparent;
    color: red;
    cursor: pointer;
    font-weight: 600;
}

@media screen and (min-width: 1000px) {
    header {
        flex-direction: row;
        justify-content: space-between;
    }

    .search {
        display: flex;
    }

    input[type=search] {
        width: 460px;
    }

    div#table {
        width: 1120px;
    }
}